body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
}

#game-box {
  margin: 100px auto;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background: #020617;
  box-shadow: 0 0 20px #38bdf8;
}

input {
  padding: 8px;
  width: 90%;
}

button {
  margin-top: 10px;
  padding: 8px 20px;
  cursor: pointer;
}
